In [1]:
import pandas as pd

In [2]:
pd.options.display.max_columns = 88

In [3]:
df_labels = pd.ExcelFile("https://docs.google.com/spreadsheets/d/e/2PACX-1vR08Js9Sh4nNTMe5uBcsDUFedG5MOjIf90p6EHAr1_sWY5kpnI3xUvyPHzQpTEUrXz1pskaoc0uyea6/pub?output=xlsx")

In [4]:
df = pd.read_csv("https://storage.googleapis.com/datamexico-data/inegi_intercensal_census/TR_PERSONA32.CSV", dtype=str, index_col=None, header=0, encoding="latin-1")

In [5]:
df.columns = df.columns.str.lower()

In [6]:
df["loc_id"] = df["ent"] + df["mun"] + df["loc50k"]

In [7]:
#df["ENT_PAIS_TRAB"].unique()
#df.loc[df["ENT_PAIS_TRAB"] == "250"]

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 462568 entries, 0 to 462567
Data columns (total 87 columns):
id_viv                462568 non-null object
id_persona            462568 non-null object
ent                   462568 non-null object
nom_ent               462568 non-null object
mun                   462568 non-null object
nom_mun               462568 non-null object
loc50k                462568 non-null object
nom_loc               462568 non-null object
cobertura             462568 non-null object
estrato               462568 non-null object
upm                   462568 non-null object
factor                462568 non-null object
numper                462568 non-null object
sexo                  462568 non-null object
edad                  462568 non-null object
parent                462568 non-null object
parent_otro_c         462568 non-null object
ident_madre           462568 non-null object
ident_padre           462568 non-null object
sersalud              462568 non-null object
afrodes               462568 non-null object
acta_nac              462568 non-null object
dhsersal1             462568 non-null object
dhsersal2             13891 non-null object
perte_indigena        462568 non-null object
ent_pais_nac          462568 non-null object
nacionalidad          462568 non-null object
hlengua               435444 non-null object
qdialect_c            1148 non-null object
qdialect_inali        1148 non-null object
hespanol              1148 non-null object
elengua               434296 non-null object
asisten               435444 non-null object
mun_asi               136232 non-null object
nom_mun_asi           136232 non-null object
ent_pais_asi          136268 non-null object
tie_traslado_escu     136268 non-null object
med_traslado_esc1     129629 non-null object
med_traslado_esc2     2593 non-null object
med_traslado_esc3     85 non-null object
escolari              435444 non-null object
nivacad               435444 non-null object
alfabet               416541 non-null object
escoacum              435444 non-null object
mun_res10             411395 non-null object
nom_mun_res10         411395 non-null object
ent_pais_res10        416541 non-null object
situa_conyugal        351821 non-null object
ident_pareja          207684 non-null object
conact                351821 non-null object
ocupacion_c           130062 non-null object
situacion_trab        130062 non-null object
aguinaldo             93229 non-null object
vacaciones            93229 non-null object
servicio_medico       93229 non-null object
utilidades            93229 non-null object
incap_sueldo          93229 non-null object
sar_afore             93229 non-null object
credito_vivienda      93229 non-null object
ingtrmen              130062 non-null object
actividades_c         130062 non-null object
mun_trab              129719 non-null object
nom_mun_trab          129719 non-null object
ent_pais_trab         130062 non-null object
tie_traslado_trab     130062 non-null object
med_traslado_trab1    115850 non-null object
med_traslado_trab2    3398 non-null object
med_traslado_trab3    240 non-null object
acti_sin_pago1        351821 non-null object
acti_sin_pago2        351821 non-null object
acti_sin_pago3        351821 non-null object
acti_sin_pago4        351821 non-null object
acti_sin_pago5        351821 non-null object
acti_sin_pago6        351821 non-null object
acti_sin_pago7        351821 non-null object
acti_sin_pago8        351821 non-null object
hijos_nac_vivos       181725 non-null object
hijos_fallecidos      124217 non-null object
hijos_sobreviv        124217 non-null object
fecha_nac_m           124196 non-null object
fecha_nac_a           124196 non-null object
sobrevivencia         124196 non-null object
edad_morir_d          1021 non-null object
edad_morir_m          429 non-null object
edad_morir_a          656 non-null object
tamloc                462568 non-null object
loc_id                462568 non-null object
dtypes: object(87)
memory usage: 307.0+ MB

In [9]:
df["loc_id"] = df["loc_id"].astype(int)
df["factor"] = df["factor"].astype(int)

In [10]:
params = ["sexo", "parent", "sersalud", "dhsersal1", "nacionalidad", "tie_traslado_trab", "med_traslado_trab1"]
params_translated = ["sex", "parent", "sersalud", "dhsersal1", "nationality", "time_to_work", "transport_mean_work"]

In [11]:
"""for ele in df["tie_traslado_trab"]:
    try:
        ele = int(ele)
    except:
        continue"""

'for ele in df["tie_traslado_trab"]:\n    try:\n        ele = int(ele)\n    except:\n        continue'

In [12]:
for sheet in params:
    df_l = pd.read_excel(df_labels, sheet)
    df[sheet] = df[sheet].astype(int)
    df[sheet] = df[sheet].replace(dict(zip(df_l.prev_id, df_l.id)))

ValueError: cannot convert float NaN to integer

In [25]:
pivote = df["nacionalidad"].isnull()

In [26]:
pivote.unique()

array([False])

In [22]:
df = df.groupby(params + ["loc_id"]).sum().reset_index(col_fill='ffill')

In [23]:
df

,sexo,parent,sersalud,dhsersal1,nacionalidad,tie_traslado_trab,med_traslado_trab1,loc_id,factor
0,1,0,0,0,0,1,9,320580000,1
1,1,0,1,1,1,1,3,320380000,5
2,1,0,1,1,1,1,3,320390000,10
3,1,0,1,1,1,1,4,320290000,2
4,1,0,1,1,1,1,5,320220000,2
5,1,0,1,1,1,1,6,320070000,2
6,1,0,1,1,1,1,6,320190000,3
7,1,0,1,1,1,1,6,320260000,2
8,1,0,1,1,1,2,3,320080000,2
9,1,0,1,1,1,2,6,320070000,2
10,1,0,1,1,1,3,3,320550000,3
11,1,0,1,1,1,3,4,320260000,2
12,1,0,1,1,1,3,6,320070000,2
13,1,0,1,2,1,1,3,320040000,1
14,1,0,1,2,1,1,3,320190000,3
15,1,0,1,2,1,1,3,320200000,5
16,1,0,1,2,1,1,3,320480000,6
17,1,0,1,2,1,1,3,320560001,13
18,1,0,1,2,1,1,4,320500000,1
19,1,0,1,2,1,1,5,320100001,5
20,1,0,1,2,1,1,5,320390000,5
21,1,0,1,2,1,1,6,320070000,2
22,1,0,1,2,1,1,6,320260000,2
23,1,0,1,2,1,1,6,320340000,3
24,1,0,1,2,1,1,6,320550000,3
25,1,0,1,2,1,1,6,320570000,2
26,1,0,1,2,1,2,1,320560001,14
27,1,0,1,2,1,2,3,320100001,21
28,1,0,1,2,1,2,3,320160000,3
29,1,0,1,2,1,2,3,320170001,32
...,...,...,...,...,...,...,...,...,...
33892,2,9,7,2,1,3,1,320560001,12
33893,2,9,7,2,1,3,3,320480000,9
33894,2,9,7,3,1,2,6,320170001,16
33895,2,9,7,8,1,1,1,320100001,25
33896,2,9,7,8,1,1,1,320170001,18
33897,2,9,7,8,1,1,1,320560001,10
33898,2,9,7,8,1,1,3,320170001,6
33899,2,9,7,8,1,1,3,320220000,3
33900,2,9,7,8,1,1,6,320100001,5
33901,2,9,7,8,1,1,6,320170001,13
33902,2,9,7,8,1,1,6,320560001,23
33903,2,9,7,8,1,1,9,320170001,13
33904,2,9,7,8,1,1,9,320210000,1
33905,2,9,7,8,1,1,9,320560001,12
33906,2,9,7,8,1,2,1,320100001,14
33907,2,9,7,8,1,2,1,320170001,28
33908,2,9,7,8,1,2,3,320570000,2
33909,2,9,7,8,1,2,4,320560001,11
33910,2,9,8,2,1,1,6,320100001,8
33911,2,9,8,8,1,2,1,320560001,12
33912,2,9,8,8,1,2,9,320560001,12
33913,2,9,8,8,1,6,6,320320000,1
33914,2,9,9,1,1,2,1,320170001,2
33915,2,9,9,4,1,1,6,320410000,1
33916,2,9,9,8,1,1,5,320360000,3
33917,2,9,9,8,1,1,6,320100001,16
33918,2,9,9,8,1,1,9,320220000,2
33919,2,9,9,8,1,2,1,320560001,10
33920,2,9,9,8,1,2,6,320200000,5
33921,2,9,9,8,1,4,4,320080000,2

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33922 entries, 0 to 33921
Data columns (total 9 columns):
sexo                  33922 non-null int64
parent                33922 non-null int64
sersalud              33922 non-null int64
dhsersal1             33922 non-null int64
nacionalidad          33922 non-null int64
tie_traslado_trab     33922 non-null object
med_traslado_trab1    33922 non-null object
loc_id                33922 non-null int64
factor                33922 non-null int32
dtypes: int32(1), int64(6), object(2)
memory usage: 2.2+ MB