In [1]:
import pandas as pd

In [2]:
pd.options.display.max_columns = 88

In [3]:
df_labels = pd.ExcelFile("https://docs.google.com/spreadsheets/d/e/2PACX-1vR08Js9Sh4nNTMe5uBcsDUFedG5MOjIf90p6EHAr1_sWY5kpnI3xUvyPHzQpTEUrXz1pskaoc0uyea6/pub?output=xlsx")

In [4]:
df = pd.read_csv("https://storage.googleapis.com/datamexico-data/inegi_intercensal_census/TR_PERSONA09.CSV", dtype=str, index_col=None, header=0, encoding="latin-1")

In [5]:
df.columns = df.columns.str.lower()

In [6]:
df["loc_id"] = df["ent"] + df["mun"] + df["loc50k"]

In [7]:
#df["ENT_PAIS_TRAB"].unique()
#df.loc[df["ENT_PAIS_TRAB"] == "250"]

In [8]:
df["loc_id"] = df["loc_id"].astype(int)
df["factor"] = df["factor"].astype(int)

In [9]:
params = ["sexo", "parent", "sersalud", "dhsersal1", "nacionalidad", "tie_traslado_trab", "med_traslado_trab1"]
params_translated = ["sex", "parent", "sersalud", "dhsersal1", "nationality", "time_to_work", "mean_transport_work"]

In [10]:
"""for ele in df["tie_traslado_trab"]:
    try:
        ele = int(ele)
    except:
        continue"""

'for ele in df["tie_traslado_trab"]:\n    try:\n        ele = int(ele)\n    except:\n        continue'

In [11]:
df = df.groupby(params + ["loc_id"]).sum().reset_index(col_fill='ffill')

In [12]:
for sheet in params:
    df_l = pd.read_excel(df_labels, sheet)
    df[sheet] = df[sheet].astype(int)
    df[sheet] = df[sheet].replace(dict(zip(df_l.prev_id, df_l.id)))

In [13]:
df

,sexo,parent,sersalud,dhsersal1,nacionalidad,tie_traslado_trab,med_traslado_trab1,loc_id,factor
0,1,1,1,1,1,1,1,90020001,9
1,1,1,1,1,1,1,1,90050001,8
2,1,1,1,1,1,1,1,90060001,6
3,1,1,1,1,1,1,1,90100001,42
4,1,1,1,1,1,1,1,90120001,13
5,1,1,1,1,1,1,1,90150001,49
6,1,1,1,1,1,1,1,90160001,32
7,1,1,1,1,1,1,1,90170001,54
8,1,1,1,1,1,1,2,90050001,13
9,1,1,1,1,1,1,2,90060001,5
10,1,1,1,1,1,1,2,90170001,11
11,1,1,1,1,1,1,3,90020001,11
12,1,1,1,1,1,1,3,90050001,17
13,1,1,1,1,1,1,3,90060001,10
14,1,1,1,1,1,1,3,90070001,77
15,1,1,1,1,1,1,3,90100001,41
16,1,1,1,1,1,1,3,90140001,41
17,1,1,1,1,1,1,3,90170001,36
18,1,1,1,1,1,1,4,90170001,12
19,1,1,1,1,1,1,5,90020001,16
20,1,1,1,1,1,1,5,90060001,27
21,1,1,1,1,1,1,5,90150001,23
22,1,1,1,1,1,1,5,90160001,25
23,1,1,1,1,1,1,6,90020001,107
24,1,1,1,1,1,1,6,90030001,13
25,1,1,1,1,1,1,6,90040001,18
26,1,1,1,1,1,1,6,90050001,36
27,1,1,1,1,1,1,6,90060001,28
28,1,1,1,1,1,1,6,90070001,26
29,1,1,1,1,1,1,6,90080001,35
...,...,...,...,...,...,...,...,...,...
44391,2,0,7,8,1,2,1,90130001,4
44392,2,0,7,8,1,2,1,90150001,23
44393,2,0,7,8,1,2,6,90030001,17
44394,2,0,7,8,1,2,6,90120001,23
44395,2,0,7,8,1,2,0,90060001,61
44396,2,0,7,8,1,3,1,90030001,13
44397,2,0,7,8,1,3,1,90070001,39
44398,2,0,7,8,1,3,1,90100001,25
44399,2,0,7,8,1,3,1,90120000,3
44400,2,0,7,8,1,3,3,90030001,17
44401,2,0,7,8,1,3,0,90070001,29
44402,2,0,7,8,1,4,1,90070001,37
44403,2,0,7,8,1,4,3,90140001,6
44404,2,0,7,8,1,5,1,90120000,1
44405,2,0,7,8,1,5,2,90070001,36
44406,2,0,7,8,1,5,3,90070001,38
44407,2,0,7,8,1,5,0,90090000,7
44408,2,0,8,2,1,4,1,90100001,11
44409,2,0,8,8,1,1,6,90060001,2
44410,2,0,9,1,1,1,6,90080001,11
44411,2,0,9,2,1,4,1,90050001,7
44412,2,0,9,3,1,1,0,90150001,11
44413,2,0,9,8,1,1,6,90160001,25
44414,2,0,9,8,1,2,6,90170001,8
44415,2,0,9,8,1,4,2,90150001,10
44416,2,0,9,8,0,1,6,90160001,20
44417,2,0,0,2,1,2,1,90170001,14
44418,2,0,0,0,1,4,1,90150001,1
44419,2,0,0,0,0,2,1,90100001,10
44420,2,0,0,0,0,3,2,90030001,13