In [1]:
import pandas as pd

In [2]:
pd.options.display.max_columns = 200

In [13]:
url_1 = "coe1t118.CSV"
url_2 = "coe2t118.CSV"

In [4]:
parte1 = ["r_def", "cd_a", "ent", "n_pro_viv", "n_ren", "eda", "p1b", "p2_1", "p2_2", "p2_3", "p2_4", "p2_9", "p2a_anio", "p2b",
          "p2c", "p2d1", "p2d2", "p2d3", "p2d4", "p2d5", "p2d6", "p2d7", "p2d8", "p2d9", "p2d10", "p2d11", "p2d99",
          "p2e", "p2f", "p2g1", "p2g2", "p3", "p3i", "p3j1", "p3j2", "p3k1", "p3k2", "p3k3", "p3k4", "p3k5", "p3k9", "p4a", "p4b",
          "p5b_thrs", "p5d_thrs", "p5b_tdia", "p5d_tdia", "fac"]
#'p3j1' 'p3j2' 'p3k3' 'p3k4' 'p3k5' 'p3k9' 'p5b_thrs' 'p5d_thrs'\n 'p5b_tdia' 'p5d_tdia'

In [5]:
parte1 = ["r_def", "cd_a", "ent", "n_pro_viv", "n_ren", "eda", "p1b", "p2_1", "p2_2", "p2_3", "p2_4", "p2_9", "p2a_anio", "p2b",
          "p2c", "p2d1", "p2d2", "p2d3", "p2d4", "p2d5", "p2d6", "p2d7", "p2d8", "p2d9", "p2d10", "p2d11", "p2d99",
          "p2e", "p2f", "p2g1", "p2g2", "p3", "p3i", "p3k1", "p3k2", "p4a", "p4b",
          "fac"]

In [6]:
parte2 = ["p6_1", "p6_2", "p6_3", "p6_4", "p6_5", "p6_6", "p6_7", "p6_8", "p6_9", "p6_10", "p6_99", 
          "p6b1", "p6b2", "p6c", "p6d",
          "p7", "p7a", "p7c", "p8_2", "p8_3", "p8_4", "p8_9", "p8a"]

In [22]:
translate1 = {# Individual Info
 "r_def":"resultado_definitivo",
 "cd_a":"ciudad_autorrepresentada",
 "ent": "ent_id",
 "n_pro_viv": "numero_vivienda",
 "n_ren": "numero_renglon",
 "eda": "age",
 "p1b": "has_job_or_business",
 # Job Related
 "p2_1": "search_job_overseas",
 "p2_2": "search_job_mexico",
 "p2_3": "search_start_business",
 "p2_4": "search_no_search",
 "p2_9": "search_no_knowledge",
 "p2a_anio": "search_job_year",
 # Last time job searching options
 "p2b": "time_looking_job",
 "p2d1": "last_private_direct_contact",
 "p2d2": "last_job_agency",
 "p2d3": "last_public_placement_service",
 "p2d4": "last_temporal_employment_program",
 "p2d5": "last_start_owned_business", 
 "p2d6": "last_internet_ads", 
 "p2d7": "last_traditional_media_ads", 
 "p2d8": "last_sindical_guilds",
 "p2d9": "last_family_recomendations",
 "p2d10": "last_clasify_ads", 
 "p2d11": "last_other_options", 
 "p2d99": "last_no_knowledge",
# Job williness
 "p2c": "will_work_lastweek",
 "p2e": "job_absent_case",
 "p2f": "job_need",
 "p2g1": "another_job_need",
 "p2g2": "another_job_need_2",
# Actual job
 "p3": "actual_job_position",
 "p3i": "actual_job_exist_contract", #p3h para la version ampliada
 "p3j1": "actual_job_contract_type", #p3k1 para la version ampliada
 "p3j2": "actual_job_contract_extend", #p3k1 para la version ampliada
 "p3k1": "actual_job_bonus_payment", 
 "p3k2": "actual_job_paid_holidays",
 "p3k3": "actual_job_split_utilities",
 "p3k4": "actual_job_none_above",
 "p3k5": "actual_job_nothing",
 "p3k9": "actual_job_no_knowledge_",
# Workplace
 "p4a": "actual_job_industry_group_id",
 "p4b": "actual_job_activity_type_pollster",
 "p5b_thrs": "actual_job_hrs_worked_lastweek", #p3k1 para la version ampliada
 "p5d_thrs": "actual_job_hrs_worked_weekly", 
 "p5b_tdia": "actual_job_days_worked_lastweek", 
 "p5d_tdia": "actual_job_days_worked_weekly",
 "fac": "population"
}

In [8]:
translate2 = {#Payment
 "p6_1": "job_payments_by_commission",
 "p6_2": "job_payments_piecework_service_workdone",
 "p6_3": "job_payments_labor_fees",
 "p6_4": "job_payments_tips",
 "p6_5": "job_payments_productivity_bonuses",
 "p6_6": "job_payments_coupons_goods",
 "p6_7": "job_payments_regular_payments_salary_wage",
 "p6_8": "job_payments_own_business_income",
 "p6_9": "job_payments_no_payments_income",
 "p6_10": "job_payments_none_above",
 "p6_99": "job_payments_no_knowledge_actual",
 #Other Payments
 "P6a1": "other_payments_aditional_regular_payments_salary_wage",
 "P6a2": "other_payments_aditional_own_business_income",
 "P6a3": "other_payments_no_payments_income",
 "P6a4": "other_payments_none_above",
 "P6a9": "other_payments_no_knowledge",
 #Payments (Frecuency, amount, minimal and health care)
    "p6b1": "actual_frecuency_payments",
    "p6b2": "actual_amount_pesos",
    "p6c": "actual_minimal_wages_proportion",
    "p6d": "actual_healthcare_attention",
 #Second Job
    "p7": "second_activity",
    "p7a": "second_activity_task",
    "p7c": "second_activity_group_id", #Test
    "p7f_dias": "second_activity_weekly_days", #Available only in "ampliado"
    "p7f_horas": "second_activity_weekly_hrs", #Available only in "ampliado"
    "p7g1": "second_activity_payment_cash", #Available only in "ampliado"
    "p7g2": "second_activity_payment_goods", #Available only in "ampliado"
    "p7g3": "second_activity_payment_none", #Available only in "ampliado"
    "p7g9": "second_activity_payment_no_knowledge", #Available only in "ampliado"
    "p7gcan": "second_activity_payment_amount", #Available only in "ampliado"
 #Changing jobs
    "p8_1": "changing_to_job_overseas",
    "p8_2": "changing_to_national_jobs",
    "p8_3": "changing_to_create_own_business",
    "p8_4": "changing_to_no_intention_new_job",
    "p8_9": "changing_to_no_knowledge_changing_jobs",
    "p8a": "changing_to_looking_for",
    "p8b": "changing_to_jobs_motives", #Available only in "ampliado"
 #Jobless and Looking for a job #Available only in "ampliado"
    "p9": "been_jobless",
    "p9a": "been_jobless_situation",
    "p9b": "been_jobless_causes",
    "p9c": "been_jobless_main_reason",
    "p9d": "been_jobless_pull_away",
    "p9e": "been_jobless_pull_away_main_reason",
    "p9f_mes": "been_jobless_month",
    "p9f_anio": "been_jobless_year",
    "p9i": "previous_industry_group_id",
    "p9k": "previous_healthcare_attention",
 #Previous job payments #Available only in "ampliado"
    "p9l1": "previous_job_bonus_payment",
    "p9l2": "previous_job_paid_holidays",
    "p9l3": "previous_job_split_utilities",
    "p9l4": "previous_job_none_above",
    "p9l5": "previous_job_nothing",
    "p9l9": "previous_job_no_knowledge",
 #Previous job Payments (Currency and amount) #Available only in "ampliado"
    "p9m1": "previous_activity_payment_cash",
    "p9m2": "previous_activity_payment_goods",
    "p9m3": "previous_activity_payment_none",
    "p9m9": "previous_activity_payment_no_knowledge",
    "p9mcan": "previous_activity_payment_amount",
 #Other cash flows besides work #Available only in "ampliado"
    "p9n1": "other_cash_flow_some_work_compensation",
    "p9n2": "other_cash_flow_sale_transfer_business",
    "p9n3": "other_cash_flow_pension or retirement",
    "p9n4": "other_cash_flow_unemployment_insurance",
    "p9n5": "other_cash_flow_individual_separation_insurance(SSI)",
    "p9n6": "other_cash_flow_no_income_previous_work",
    "p9n9": "other_cash_flow_no_knowledge",
 #In the last 3 months, from the government... #Available only in "ampliado"
    "p10_1": "financial_help_searching",
    "p10_2": "financial_help_new_activity",
    "p10_3": "financial_help_another_programs",
    "p10_4": "financial_help_government_nothing",
    "p10_9": "financial_help_government_no_knowledge",
 #Financial support from someone else... #Available only in "ampliado"
    "p10a1": "financial_sup_living_overseas",
    "p10a2": "financial_sup_another_entity",
    "p10a3": "financial_sup_same_entity",
    "p10a4": "financial_sup_nothing",
    "p10a9": "financial_sup_no_knowledge",
}

In [9]:
parte1_trimestre1 = ["n_pro_viv", "eda", "p1b", "p1d", "p2_1", "p2_2", "p2_3", "p2_4", "p2_9", 
                     "p2b", "p2d1", "p2d2", "p2d3", "p2d4", "p2d5", "p2d6", "p2d7", "p2d8", "p2d9", "p2d10", "p2d11", "p2d99", 
                     "p2e", "p2g2", "p3", "p3i", "p3j", "p3k1", "p3k2", "p3l1", "p3l2", "p3l3", "p3l4", 
                     "p3l5", "p3l9", "p3m1", "p3m2", "p3m3", "p3m4", "p3m5", "p3m6", "p3m7", "p3m8", "p3m9", "p3q", "p5", "fac"]

In [10]:
parte2_trimestre1 = ["p6_1", "p6_2", "p6_3", "p6_4", "p6_5", "p6_6", "p6_7", "p6_8", "p6_9", "p6_10", "p6_99", 
          "P6a1", "P6a2", "P6a3", "P6a4", "P6a9",
          "p6b1", "p6b2", "p6c", "p6d",
          "p7", "p7a", "p7c", "p7f_dias", "p7f_horas", "p7g1", "p7g2", "p7g3", "p7g9", "p7gcan"
          "p8_1", "p8_2", "p8_3", "p8_4", "p8_9", "p8a", "p8b",
          "p9", "p9a", "p9b", "p9c", "p9d", "p9e", "p9f_mes", "p9f_anio"]

In [11]:
# dt_22007 = pd.read_csv(url_1, index_col=None, header=0, encoding="latin-1")

In [14]:
try:
    dt_22007 = pd.read_csv(url_1, index_col=None, header=0, encoding="latin-1", usecols=[
        "ent", "eda", "p1b", "p2_1", "p2_2", "p2_3", "p2_4", "p2_9", "p2a_anio", "p2b", "p3",
        "p4a", "p5b_thrs", "p5b_tdia", "fac"])
    print("El 1")
except:
    dt_22007 = pd.read_csv(url_1, index_col=None, header=0, encoding="latin-1", usecols= lambda x: x.lower() in [
    "ent", "eda", "p1b", "p2_1", "p2_2", "p2_3", "p2_4", "p2_9", "p2a_anio", "p2b", "p3",
    "p4a", "p5c_thrs", "p5c_tdia", "fac"])
    print("El 2")

El 2

In [23]:
dt_22007 = pd.read_csv(url_1, index_col=None, header=0, encoding="latin-1")

In [24]:
dt_22007.head()

,r_def,cd_a,ent,con,upm,d_sem,n_pro_viv,v_sel,n_hog,h_mud,n_ent,per,n_ren,eda,n_inf,p1,p1a1,p1a2,p1a3,p1b,p1c,p1d,p1e,p2_1,p2_2,p2_3,p2_4,p2_9,p2a_dia,p2a_sem,p2a_mes,p2a_anio,p2b_dia,p2b_sem,p2b_mes,p2b_anio,p2b,p2c,p2d1,p2d2,p2d3,p2d4,p2d5,p2d6,p2d7,p2d8,p2d9,p2d10,p2d11,p2d99,p2e,p2f,p2g1,p2g2,p2h1,p2h2,p2h3,p2h4,p2h9,p3,p3a,p3b,p3c1,p3c2,p3c3,p3c4,p3c9,p3d,p3e,p3f1,p3f2,p3g1_1,p3g1_2,p3g2_1,p3g2_2,p3g3_1,p3g3_2,p3g4_1,p3g4_2,p3g9,p3g_tot,p3h,p3i,p3j,p3k1,p3k2,p3l1,p3l2,p3l3,p3l4,p3l5,p3l9,p3m1,p3m2,p3m3,p3m4,p3m5,p3m6,p3m7,p3m8,p3m9,p3n,p3o,p3p1,p3p2,p3q,p3r_anio,p3r_mes,p3r,p3s,p3t_anio,p3t_mes,p4,p4_1,p4_2,p4_3,p4a,p4a_1,p4b,p4c,p4d1,p4d2,p4d3,p4e,p4f,p4g,p4h,p4i,p4i_1,p5,p5a,p5b,p5c_hlu,p5c_mlu,p5c_hma,p5c_mma,p5c_hmi,p5c_mmi,p5c_hju,p5c_mju,p5c_hvi,p5c_mvi,p5c_hsa,p5c_msa,p5c_hdo,p5c_mdo,p5c_thrs,p5c_tdia,p5d,p5e1,p5e_hlu,p5e_mlu,p5e_hma,p5e_mma,p5e_hmi,p5e_mmi,p5e_hju,p5e_mju,p5e_hvi,p5e_mvi,p5e_hsa,p5e_msa,p5e_hdo,p5e_mdo,p5e_thrs,p5e_tdia,p5f,p5g1,p5g2,p5g3,p5g4,p5g5,p5g6,p5g7,p5g8,p5g9,p5g10,p5g11,p5g12,p5g13,p5g14,p5g15,p5g99,p5h,ur,fac
0,0,1,9,40001,900471,101,9,1,1,0,2,118,1,50,2,2,,,3,1,5.0,1,,,,,,,NaN,,NaN,NaN,NaN,,NaN,NaN,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,,,,NaN,,,,,,8342.0,1,,,,,,,,,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,1,2,1,2,,1,2,3,,,,1,,,4,5,6,7,,,1.0,2,,NaN,11.0,1990.0,NaN,3,1,NaN,NaN,1,,,2,3250.0,1,4,2,,,3,,NaN,,3,1,3,1,2,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,,,1,8.0,0.0,8.0,0.0,8.0,0.0,8.0,0.0,8.0,0.0,0.0,0.0,0.0,0.0,40.0,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14.0,NaN,NaN,,1,524
1,0,1,9,40001,900471,101,9,1,1,0,2,118,2,47,2,2,,,3,2,NaN,,,,2,,,,99.0,1,6.0,2016.0,3.0,,1.0,2018.0,1,1,NaN,NaN,NaN,NaN,NaN,6.0,NaN,NaN,NaN,NaN,NaN,NaN,,,,NaN,1,2,,,,NaN,,,,,,,,,,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,,,,,,,,,,,,,,,,,,,,NaN,,,NaN,NaN,NaN,NaN,,,NaN,NaN,,,,,NaN,,,,,,,,NaN,,,,,,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,,1,524
2,0,1,9,40001,900471,101,9,1,1,0,2,118,3,14,2,2,,,3,2,NaN,,,,,,4,,NaN,,NaN,NaN,NaN,,NaN,NaN,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,3,,NaN,,,,4,,NaN,,,,,,,,,,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,,,,,,,,,,,,,,,,,,,,NaN,,,NaN,NaN,NaN,NaN,,,NaN,NaN,,,,,NaN,,,,,,,,NaN,,,,,,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,,1,524
3,0,1,9,40001,900471,101,9,1,1,0,2,118,4,12,2,2,,,3,2,NaN,,,,,,4,,NaN,,NaN,NaN,NaN,,NaN,NaN,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,3,,NaN,,,,4,,NaN,,,,,,,,,,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,,,,,,,,,,,,,,,,,,,,,NaN,,,NaN,NaN,NaN,NaN,,,NaN,NaN,,,,,NaN,,,,,,,,NaN,,,,,,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,,1,524
4,0,1,9,40001,900471,101,34,2,1,0,2,118,1,30,2,1,,,,,NaN,,,,,,,,NaN,,NaN,NaN,NaN,,NaN,NaN,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,,,,NaN,,,,,,4221.0,1,,,,,,,,,,NaN,,NaN,,NaN,,NaN,,NaN,,NaN,1,2,1,2,,1,2,3,,,,1,,,4,5,6,7,,,8.0,2,,NaN,8.0,2015.0,NaN,3,1,NaN,NaN,1,,,2,5411.0,1,4,2,,,3,,NaN,,1,1,3,1,3,,0.0,0.0,8.0,0.0,8.0,0.0,8.0,0.0,8.0,0.0,0.0,0.0,0.0,0.0,32.0,4,2,1,8.0,0.0,8.0,0.0,8.0,0.0,8.0,0.0,8.0,0.0,0.0,0.0,0.0,0.0,40.0,5,8.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14.0,NaN,NaN,,1,524

In [16]:
dt_22007_2 = pd.read_csv(url_2, index_col=None, header=0, encoding="latin-1", usecols= lambda x: x.lower() in[
        "p6b1", "p6b2", "p6c", "p6d", "p7", "p7a", "p7c"])

In [17]:
dt_22007_2.head()

  p6b1     p6b2 p6c p6d p7  p7a  p7c
0    7      NaN   9   1  7  NaN  NaN
1           NaN             NaN  NaN
2           NaN             NaN  NaN
3           NaN             NaN  NaN
4    2  24000.0       1  7  NaN  NaN

In [18]:
dt_22007.columns = dt_22007.columns.str.lower()

In [19]:
dt_22007_2.columns = dt_22007_2.columns.str.lower()

In [20]:
df = dt_22007.join(dt_22007_2)

In [21]:
df.head()

,ent,eda,p1b,p2_1,p2_2,p2_3,p2_4,p2_9,p2a_anio,p2b,p3,p4a,p5c_thrs,p5c_tdia,fac,p6b1,p6b2,p6c,p6d,p7,p7a,p7c
0,9,50,1,,,,,,NaN,,8342.0,3250.0,NaN,,524,7,NaN,9,1,7,NaN,NaN
1,9,47,2,,2,,,,2016.0,1,NaN,NaN,NaN,,524,,NaN,,,,NaN,NaN
2,9,14,2,,,,4,,NaN,,NaN,NaN,NaN,,524,,NaN,,,,NaN,NaN
3,9,12,2,,,,4,,NaN,,NaN,NaN,NaN,,524,,NaN,,,,NaN,NaN
4,9,30,,,,,,,NaN,,4221.0,5411.0,32.0,4,524,2,24000.0,,1,7,NaN,NaN

In [ ]:
#dt_42018 = pd.read_csv("COE1T418.csv", index_col=None, header=0, encoding="latin-1")

In [ ]:
#dt_42018_2 = pd.read_csv("COE2T418.csv", index_col=None, header=0, encoding="latin-1")

In [25]:
excel_url = "https://docs.google.com/spreadsheets/d/e/2PACX-1vSg-NM8Jt_vHnuIcJ3fjHMxcae_IkK7sresHvhUs_G7NSM5CN5NGYiCf-BP_GMPw3jwmm791CXPLpqJ/pub?output=xlsx"
df_labels = pd.ExcelFile(excel_url)

In [26]:
part1 = pd.read_excel(df_labels, "part1")

In [27]:
part2 = pd.read_excel(df_labels, "part2")

In [28]:
#df = dt_22007[parte1]

In [29]:
# df[parte2] = dt_22007_2[parte2]

In [30]:
df.rename(columns = dict(zip(part1.column, part1.new_column)), inplace=True)

In [31]:
df.rename(columns = dict(zip(part2.column, part2.new_column)), inplace=True)

In [32]:
df["time_looking_job"].unique()

array([' ', '1', '2', '3', '4', '9'], dtype=object)

In [33]:
df.replace(pd.np.nan, 99999, inplace=True)

In [ ]:
185043

In [34]:
df.head()

,ent_id,age,has_job_or_business,search_job_overseas,search_job_mexico,search_start_business,search_no_search,search_no_knowledge,search_job_year,time_looking_job,actual_job_position,actual_job_industry_group_id,p5c_thrs,p5c_tdia,population,actual_frecuency_payments,actual_amount_pesos,actual_minimal_wages_proportion,actual_healthcare_attention,second_activity,second_activity_task,second_activity_group_id
0,9,50,1,,,,,,99999.0,,8342.0,3250.0,99999.0,,524,7,99999.0,9,1,7,99999.0,99999.0
1,9,47,2,,2,,,,2016.0,1,99999.0,99999.0,99999.0,,524,,99999.0,,,,99999.0,99999.0
2,9,14,2,,,,4,,99999.0,,99999.0,99999.0,99999.0,,524,,99999.0,,,,99999.0,99999.0
3,9,12,2,,,,4,,99999.0,,99999.0,99999.0,99999.0,,524,,99999.0,,,,99999.0,99999.0
4,9,30,,,,,,,99999.0,,4221.0,5411.0,32.0,4,524,2,24000.0,,1,7,99999.0,99999.0

In [ ]:
url_1

In [ ]:
df["epoch"] = url_1[slice(-7,-4)]

In [ ]:
df["epoch"] = url_1[slice(-7,-4)]
df["year"] = "20" + url_1[slice(-6,-4)]
df["quarter"] = url_1[slice(-7,-6)]

In [ ]:
batch = ["ent_id", "age", "has_job_or_business", "search_job_overseas", "search_job_mexico",
        "search_start_business", "search_no_search", "search_no_knowledge", "search_job_year",
        "time_looking_job", "actual_job_position", "actual_job_industry_group_id", 
        "actual_job_hrs_worked_lastweek", "actual_job_days_worked_lastweek", "population", 
        "actual_frecuency_payments", "actual_amount_pesos", "actual_minimal_wages_proportion", 
        "actual_healthcare_attention", "second_activity", "second_activity_task", "second_activity_group_id"]

In [ ]:
"ent_id", "age", "has_job_or_business", "search_job_overseas", "search_job_mexico", "search_start_business", "search_no_search", "search_no_knowledge", "search_job_year", "time_looking_job", "actual_job_position", "actual_job_industry_group_id", "actual_job_hrs_worked_lastweek", "actual_job_days_worked_lastweek", "population", "actual_frecuency_payments", "actual_amount_pesos", "actual_minimal_wages_proportion", "actual_healthcare_attention", "second_activity", "second_activity_task", "second_activity_group_id"

In [ ]:
df = df[batch]

In [ ]:
df.info()

In [ ]:
filling = ["has_job_or_business", "search_job_overseas", "search_job_mexico",
            "search_start_business", "search_no_search", "search_no_knowledge",
            "actual_frecuency_payments", "actual_minimal_wages_proportion", 
            "actual_healthcare_attention", "second_activity"]

In [ ]:
# df = df[filling]

In [ ]:
df.info()

In [ ]:
df.head()

In [ ]:
df.has_job_or_business.unique()

In [ ]:
df.replace(" ", 99999, inplace = True)

In [ ]:
df.fillna(99999, inplace = True)

In [ ]:
df.head()

In [ ]:
for sheet in filling:
    df_l = pd.read_excel(df_labels, sheet)
    df[sheet] = df[sheet].astype(int)
    df[sheet] = df[sheet].replace(dict(zip(df_l.prev_id, df_l.name_es)))

In [ ]:
df.replace(99999, pd.np.nan, inplace=True)

In [ ]:
df.head(10)

In [ ]:
df.info()

In [ ]:
m_pago = ["p6_1", "p6_2", "p6_3", "p6_4", "p6_5", "p6_6", "p6_7", "p6_8", "p6_9", "p6_10", "p6_99"]
# m_pago = ["p6_{}".format(x) for x in range(1,11)] + ["p6_99"]

In [ ]:
# dt_42018 = dt_42018[m_pago]

In [ ]:
dt_42018["m_pago_n"] = dt_42018[list(m_pago)].count(axis=1)
dt_42018

In [ ]:
dt_42018["m_pago_n"].unique()

In [ ]:
dt_42018 = dt_42018.sort_values("m_pago_n", axis=0, ascending=False, kind='quicksort', na_position='last')

# DataFrame.sort_values(by, axis=0, ascending=True, inplace=False, kind='quicksort', na_position='last')

In [ ]:
dt_42018 = dt_42018.sort_values("p6c", axis=0, ascending=True, kind='quicksort', na_position='last')

In [ ]:
dt_42018["p6c"].replace(" " , "1000", inplace=True)

In [ ]:
dt_42018["p6c"] = dt_42018["p6c"].astype(int)

In [ ]:
dt_42018["p6c"].unique()

In [ ]:
dt_42018.loc[dt_42018["p6c"] == 1000].groupby(["p6c", "p6b1", "p6b2"]).sum()

In [ ]:
dt_42018.groupby(["p6c", "p6b1", "p6b2"]).sum().head(200)

In [ ]:
dt_42018.groupby(["ltrabpai_c", "ltrabmun_c", "mun_id_trab"]).sum()

In [ ]:
dt_42018.head(100)

In [ ]:
dt_42018

In [ ]:
#dt_12019 = pd.read_csv("coe1t119.csv", index_col=None, header=0, encoding="latin-1")
#dt_12019_2 = pd.read_csv("coe2t119.csv", index_col=None, header=0, encoding="latin-1")

In [ ]:
#dt_12019.columns = dt_12019.columns.str.lower()
#dt_12019_2.columns = dt_12019_2.columns.str.lower()

In [ ]:
# Paso ARQUETIPO para la descarga de los multiples archivos trimestrales

"""path = r'data_AT' # use your path
allFiles = glob.glob(path + "/*.txt")

list_ = []

for file_ in allFiles:
    df = pd.read_csv(file_,
                     sep='\t', #para leer de csv a un dcto. de texto
                     error_bad_lines=False, #detener avisos que previenen el avance del codigo
                     encoding="latin-1", #no en utf-8 por problemas de lectura
                     index_col=None, #eliminar el indice en una linea, solo existe como nombre de columnas
                     dtype= {"Trabajadores Informados": "str"}, #setear desde la lectura el tipo de la columna
                     header=0)
    
    print(file_)
    df["regimen_tributario"] = np.nan
    df["anio_tributario"] = file_.replace("data_AT\Empresas_AT_", "").replace(".txt", "") # USAR REGEX PARA OBTENER SOLO LOS NUMEROS DEL STRING
    
    list_.append(df)

frame = pd.concat(list_, axis = 0, ignore_index = True)"""

In [ ]:
"""for trimester in range (1,5)
    for year in range (13,19)
        """
# dt_12019 = dt_12019[parte1]
# dt_12019[parte2] = dt_12019_2[parte2]
#fd.P7B.unique()
#fd.P7C.unique()
#fd.P9I.unique()
#dt_42018.p5d_thrs.unique()
# dt_42018_2["periodo"] = dt_42018_2.replace("COE2T", "").replace(".csv", "") # USAR REGEX PARA OBTENER SOLO LOS NUMEROS DEL STRING